@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&display=swap');

body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    max-width: 1400px;
}

body > header {
    background: #606060;
    max-width: 100%;
    height: 175px;
    margin: 50px;
    display: flex;
    justify-content: center;
    border: 1px solid #101010;

    & > img {
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    & > h1 {
        display: none;
    }
}

section {

    & > .see-more {
        height: 40px;
        border-radius: 8px;
        background-color: indianred;
        color: white;
        border: 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        padding: 0 16px;
        margin: 0 auto;
    }

    & > article {
        position: relative;
        max-height: 325px;
        margin: 12px 0;
        overflow: hidden;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


        & > div {
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: lightgray;
            z-index: 1;
            opacity: 0.9;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;

            & > h3 {
                margin: 12px 0;
            }

            & > .details {
                height: 20px;
                border-radius: 8px;
                background-color: indianred;
                color: black;
                border: 0;
                box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
            }
        }
    }
}

main {
    margin: 0 50px;
    & > h2 {
        text-align: center;
    }

    #best-movie {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 400px;
        padding: 8px;
        border: 4px solid #101010;

        & > img {
            width: 100%;
            height: 50%;
            object-fit: cover;
        }

        & > div {
            display: flex;
            flex-direction: column;
        }

        & > div > h3 {
            margin: 10px 0 0 0;
            font-size: 24px;
        }

        & > div > p {
            margin: 4px 0 8px 0;
            text-align: justify;
            font-size: 14px;
        }

        & > div > button {
            justify-content: center;
            align-self: center;
            position: absolute;
            bottom: 10px;
            width: 80px;
            height: 40px;
            border-radius: 8px;
            background-color: indianred;
            color: #F5F5F5;
            border: 0;
            box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        }
    }
}

dialog {
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: scroll;

    & > article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > header {
            margin: 0 12px;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;

            & > div:last-of-type {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }

        & > section > p {
            font-size: 14px;
        }

        & > section > p:first-of-type {
            text-align: justify;
        }


        & > footer > button {
            position: absolute;
            right: 10px;
            top: 32px;
            width: 80px;
            height: 40px;
            border-radius: 8px;
            background-color: indianred;
            color: #F5F5F5;
            border: 0;
            box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px
        }
    }

}

@media screen and (min-width: 481px) {

    main {
        #best-movie {
            height: 400px;

            & > div > img {
                height: 60%;
            }

            & > div >button {
                bottom: 20px;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    header {
        align-items: center;
        justify-content: flex-start;

        & > img {
            margin: 0 40px;
        }

        & > h1 {
            color: #F5F5F5;
            display: block;
            font-size: 28px;
        }
    }

    main > #best-movie {
        flex-direction: row;
        height: 280px;

        & > img {
            width: 40%;
            height: 100%;
        }

        & > div {
            width: 60%;
            padding: 0 12px;

            & > button {
                right: 20px;
            }
        }

    }

    main > .category  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & > article {
            flex: 0 1 calc(50% - 24px);
        }
    }

    dialog {

        width: 80%;
        height: 60%;

        & > article {
            & > header {
                flex-direction: row;
            }
        }
    }

}

@media screen and (min-width: 1025px) {
    header {
        & > h1 {
            font-size: 48px;
        }
    }
}

@media screen and (min-width: 1201px) {
    header {
        & > img {
            margin: 0 60px;
        }

        & > h1 {
            font-size: 56px;
        }
    }

    main > .category  {


        & > article {
            flex: 0 1 calc(33% - 24px);
        }
    }

    dialog {
        padding: 24px;
        width: 40%;
        height: fit-content;
        overflow: hidden;
        box-sizing: border-box;
        padding-bottom: 60px;


        & > article {
            box-sizing: border-box;
            padding: 20px;

            & > header {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
            }

            & > footer > button {
                bottom: unset;
                right: 60px;
                left: unset;
                top: unset;
                width: 120px;

            }
        }
    }
}

@media screen and (min-width: 1401px) {
    header {
        & > img {
            margin: 0 80px;
        }

        & > h1 {
            font-size: 64px;
            margin: 0 40px;
        }
    }
}
